<p>
  <a class="back" (click)="goToHome()" href="#">&laquo; Back</a>
</p>
<hr />
@if ((usersState$ | async)?.isLoading) {
<p>Loading ...</p>
}@else {

<h2 style="text-align:center">User Details</h2>

<div class="card">
  <img [src]="user?.avatar" alt="John" style="width:100%">
  <h1>{{user?.first_name}} {{user?.last_name}}</h1>
  <p class="title">{{user?.email}}</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <p><button (click)="onClickConnect(user!.email)">Contact</button></p>
</div>

}