<div>
        @for (user of users(); track user.id) {

                <div class="card" (click)="onSelectedUser(user)">
                    <img [src]="user.avatar" alt="Avatar" style="width:25%">
                    <div class="container">
                      <h4><b>{{user.first_name}} {{user.last_name}}</b></h4>
                      <p>{{user.email}}</p>
                    </div>
                  </div>
        }
        @if(!users() || users()?.length === 0){
          <p>There no Users found in current Page !...</p>   
        }
</div>

<div class="pagination">
    @for (item of totalPagesRender(); track item) {
        <a [class]="selectedPageNumber() === item ? 'active' : ''" (click)="onClickPageNumber(item)" href="#">{{item}}</a>
    }
  </div>
